
.hero {
    background-image: url(./../../img/johannarty.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.hero-image {
    width: 100%;
    height: auto;
}

@media(min-width: 768px) {
    .hero-image {
        width: 70%;
    }
}

@media(min-width: 950px) {
    .hero-image {
        width: 50%;
    }
    
}