footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-primary);
    font-family: var(--roboto);
}
footer p {
    color: var(--p-color);
}

@media(min-width: 560px) {
    footer {
        flex-direction: row;
    }
}